extends layouts/main-layout.pug
block styles
    link(rel="stylesheet" href="/css/style.css")

    if userlist.length>0
        h1 Here is your user list
        ul
            each user in userlist
                li #{user.user}
    else
        h1 There are no users, for now.             